{% extends '::layout.html.twig' %}

{% block sidebar_filter %}
    <form action="{{ path('device') }}" method="post" {{ form_enctype(filter_form) }}>
        {{ form_widget(filter_form) }}
        <p>
            <button class="btn btn-success btn-xs" name="filter-submit" type="submit">Filter data</button>
        </p>
    </form>
{% endblock %}

{% block body %}

<div class="panel panel-primary panel-list">
    <div class="panel-heading">
        <h3 class="panel-title">
            Devices - list page
            <!-- add help content to bottom help div -->
            <a id="helpBtn" href="#" data-module-id="Devices" title="Devices list page help" data-toggle="modal" data-target="#Test3"><span class="glyphicon glyphicon-question-sign pull-right"></span></a>
        </h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-list">
            <thead>
                <tr>
                    <th{% if pagination.isSorted('a.id') %} {% endif %}>{{ knp_pagination_sortable(pagination, 'Id', 'a.id')|raw }}</th>
                    <th{% if pagination.isSorted('a.name') %} {% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'a.name')|raw }}</th>
                    <th{% if pagination.isSorted('a.asset_tag') %} {% endif %}>{{ knp_pagination_sortable(pagination, 'Asset_tag', 'a.asset_tag')|raw }}</th>
                    <th{% if pagination.isSorted('a.ip_address') %} {% endif %}>{{ knp_pagination_sortable(pagination, 'Ip_address', 'a.ip_address')|raw }}</th>
                    <th{% if pagination.isSorted('a.updated_at') %} {% endif %}>{{ knp_pagination_sortable(pagination, 'Updated', 'a.updated_at')|raw }}</th>
                    <th{% if pagination.isSorted('a.created_at') %} {% endif %}>{{ knp_pagination_sortable(pagination, 'Created', 'a.created_at')|raw }}</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr>
                    <td><a href="{{ path('device_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.assettag }}</td>
                    <td>{{ entity.ipaddress }}</td>
                    <td>{% if entity.updatedat %}{{ entity.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td nowrap>
                        <div style="text-align:center;">                    
                            <a href="{{ path('device_show', { 'id': entity.id }) }}" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-search"></span></a>
                            <a href="{{ path('device_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-edit"></span></a>
                        </div> 
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        {{ knp_pagination_render(pagination)|raw }}
    </div>
</div>
<!-- help content div -->
<div id="Devices-div-help-content" class="help-content">
    Devices list page help content
</div>
<!-- // help content div -->

{% endblock %}