{% extends "::layout.html.twig" %}


{% block body %}

<div class="row">
  
	<div id="login" class="container">
		<div class="panel panel-default">
  			<!--<div class="panel-heading">Login</div>-->
  				<div class="panel-body">
					<div id="login-logo"> <img src="/bundles/applicationmain/images/logo.png"></div>
				{% if error %}
				    <div class="alert alert-danger">
				    	<span class="glyphicon glyphicon-warning-sign"></span> {{ error|trans({}, 'FOSUserBundle') }}
				    </div>
				{% endif %}
				
				<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal" role="form" style="padding-left:20px;">
				    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
					<div class="form-group">
				    	<label for="username" class="col-sm-3 control-label">USER NAME</label>
				    	<div class="col-md-9">
				    		<input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />	
				    	</div>
					</div>
					<div class="form-group">
				    	<label for="password" class="col-sm-3 control-label">PASSWORD</label>
				    	<div class="col-md-9">
				    		<input class="form-control" type="password" id="password" name="_password" required="required" />
				    	</div>
					</div>
					<!--<div class="form-group">
				    	<div class="col-sm-offset-1 col-sm-10">
				      		<div class="checkbox">
				      			<label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>      			   			
				    		</div>
				    	</div>
				    </div>	-->
				    <div class="form-group">
				    	<div  class="col-sm-offset-4 col-sm-5">
				    		<input type="submit" id="_submit" name="_submit" value="LOG IN" class="btn btn-default" />
				    	</div>
				    </div>	

				</form>
			</div>

		</div>	
		<div class="row" style="color: #555555;padding-left:65px;">
                <div class="span3"></div>
                <div >
                    Privacy Policy | Terms of use | ©2014 Alchemy Worx Ltd
                </div>
               
            </div>
	</div>
 </div>

{% endblock body %}