				<div style="text-align:center;">                    
                    <a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity.id }) }}" }}" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-search"></span></a>
                    <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="{{ "{{ path('" ~ route_name_prefix ~ "_delete', { 'id': entity.id }) }}" }}" class="btn btn-xs btn-danger btn-delete"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
