{% block extends %}
{{ "{% extends '::layout.html.twig' %}" }}
{% endblock extends %}

{{ "{% form_theme form ':Form:fields.html.twig' %}" }}

{% block body %}
{{ "{% block body %}" }}

<div class="panel panel-primary panel-show">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ entity }} - Creation page
            <!-- add help content to bottom help div -->
            <a id="helpBtn" href="#" data-module-id="{{ entity }}" title="{{ entity }} creation page help" data-toggle="modal" data-target="#{{ entity }}"><span class="glyphicon glyphicon-question-sign pull-right"></span></a>
        </h3>
    </div>
    <div class="panel-body">
		<form id="newForm" role="form" class="form-horizontal" action="{{ "{{ path('" ~ route_name_prefix ~ "_create') }}" }}" method="post" {{ "{{ form_enctype(form) }}" }}>
			{{ "{{ form(form) }}" }}
		</form>
    </div>
    <div class="panel-footer">
        {%- include "crud/views/others/new_actions.html.twig.twig" %}
    </div>
</div>
<!-- help content div -->
<div id="{{ entity }}-div-help-content" class="help-content">
    {{ entity }} creation page help content
</div>
<!-- // help content div -->

{{ "{% endblock %}" }}
{% endblock body %}
